iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
Pygments==2.19.1
pytest==8.4.0
setuptools==80.9.0
-e git+https://github.com/romanvlad95/testforge.git@f37ce68ab12cd49a0826ad7c5b93e51631ceacdc#egg=testforge
wheel==0.45.1
